@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Vast+Shadow&display=swap');

@font-face {
    font-family: "Tilt Neon";
    src: url("./fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf") format("truetype");
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownBig {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUpBig {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDownSmall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUpSmall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hoverBoxShadow {
  0% {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.7);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fastSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1010deg);
  }
}

@keyframes slowSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
  background: none;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

:root {
  --header-gradient: linear-gradient(45deg, #ffc3a0a6, #f8ea9baf, #ffdabcb2);
  --dropdown-box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.2);
  --dropdown-bg-color: #33333307;
  --dropdown-pointy-color: #fff;
  --box-two-pointy-color: #fddfbf;
  --text-color: #000;
  --text-blue: steelblue;
  --text-blue-shadow: 0 0 0 4px rgba(70, 130, 180, 0.3);
  --line-blue-color: steelblue;
  --bg-color: #fff;
  --active-link: #000;
  --active-link-bg: #fff;
  --border-color: #686868;
  --light-shadow: 20px 20px 0px 0px #80808040;
  --hard-shadow: 12px 12px 0px 0px #646464;
  --monster-shadow: 6px 6px 0px 0px #3a3a3a;
}

.dark-mode {
  --header-gradient: linear-gradient(45deg, #ffc3a0ea, #f8ea9bec, #ffdabcee);
  --dropdown-box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.2);
  --dropdown-bg-color: #92929248;
  --dropdown-pointy-color: #92929271;
  --box-two-pointy-color: #e8be91;
  --text-color: #fff;
  --text-blue: #859bff;
  --text-blue-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --line-blue-color: #859bff;
  --bg-color: #3a3937;
  --active-link: #fff;
  --active-link-bg: #000;
  --border-color: #cccccc;
  --light-shadow: 20px 20px 0px 0px #9e9e9e;
  --hard-shadow: 12px 12px 0px 0px #c0c0c0;
  --monster-shadow: 6px 6px 0px 0px #e7e7e7;
}

/* Global Styles */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.8px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    overscroll-behavior-y: none;
    font-family: 'Inter var', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #000000;
}

.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.canvas-background {
    width: 100%;
    height: 100%;
}

.link {
  position: relative; /* Required for positioning the ::after element */
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-align: left;
  text-decoration: none;
  color: var(--text-blue);
  text-shadow: var(--text-blue-shadow);
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(70, 130, 180, 1);
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}
